In [ ]:
#Data Cleaning 101

In [45]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

root_dir=Path('.').resolve().parent
#root_dir es la carpeta "madre" 030922
file_name="llamadas123_julio_2022.csv"
data_dir = "row"

file_path=os.path.join(root_dir, "data",data_dir, file_name) #cada concatenacion se hace con //
data =pd.read_csv(file_path,sep=";", encoding="latin-1") 
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [46]:
# Obtener informacion basica de los datos
data.info() # Cuantos registros tengo, como se mueven los indices, cuantos de esos registros son no nulos, peso de la tabla

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [47]:
# Eliminar registros duplicados
print ('forma inicial',data.shape)
data=data.drop_duplicates()  #Encontrar filas duplicadas, deseche los duplicados y al resultado asignarlo a la variable data
data.reset_index(inplace=True, drop=True) # A la nueva tabla sin duplicados deja la nueva tabla de indices y drop elimine 
print ('forma final',data.shape)

forma inicial (13055, 11)
forma final (13026, 11)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [49]:
# Tratamiento de valores nulos
# nulo de strings ---> SIN_DATO , N/A
# nulo de numeros ---> NULL?? numpy nan = Non Asigmet Number  --> np.nan
# nulo de fechas ---> NaT = Non Asigmet Time --> NaT

col = 'UNIDAD'
#data[col].value_counts(dropna=False, normalize=True) #cuenta los registros de los valores de los datos/ dropna muestra los NaN, bota los valores nulos, frecuencia absoluta con la que se presentan los datos
data [col].fillna('SIN_DATO',inplace=True) #llenar los valores nulos con la palabra SIN_DATO en string
data[col].value_counts(dropna=False, normalize=True)

A¤os        0.520574
SIN_DATO    0.475587
Meses       0.002994
Horas       0.000461
Dias        0.000384
Name: UNIDAD, dtype: float64

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [51]:
#data.head() #Primeras 5 filas de la tabla
fecha ='2022-07-01 00:08:59'
pd.to_datetime(fecha, errors='coerce', format='%Y/%m/%d') #Formato que se le esta asignando

Timestamp('2022-07-01 00:08:59')

In [52]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
data[col] = pd.to_datetime(data[col], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [54]:
col='EDAD'
data[col].replace({'SIN_DATO': np.nan}, inplace=True) #Reemplazar un string llevarlo a hacer nulo con nan en un diccionario
data[col]

0         88
1         16
2         52
3        NaN
4         33
        ...
13021     18
13022    NaN
13023     11
13024     19
13025    NaN
Name: EDAD, Length: 13026, dtype: object

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.1+ MB

In [58]:
data[col].value_counts() # Toma valores y los cuenta
data[col].unique() # Muestra valores unicos

array(['88', '16', '52', nan, '33', '57', '65', '14', '83', '35', '19',
       '53', '56', '45', '2', '18', '34', '84', '80', '7', '64', '41',
       '28', '23', '85', '92', '38', '11', '58', '70', '50', '27', '67',
       '54', '87', '24', '90', '99', '49', '91', '21', '62', '59', '26',
       '78', '30', '32', '51', '15', '79', '37', '60', '76', '22', '47',
       '61', '82', '86', '77', '63', '39', '89', '36', '97', '40', '75',
       '13', '25', '73', '69', '72', '68', '44', '31', '74', '81', '43',
       '20', '66', '10', '48', '29', '8', '17', '94', '55', '1', '4', '3',
       '9', '71', '46', '6', '95', '93', '98', '96', '42', '5', '12'],
      dtype=object)

In [59]:
# funciones lamda - escribir una funcion en una sola linea
def f(x):
        resultado = x**2
        return
x=4
f(x)

In [61]:
f= lambda x: x**2 # funcion que contiene x
x=4
f(x)

16

In [62]:
str_num='35'
f = lambda x: int(str_num)

f(str_num)

35

In [64]:
str_num ='28'
f = lambda x:x if pd.isna(x) else int(x)
f(str_num)

28

In [65]:
data[col]=data[col].apply(f) #Tranformacion

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [67]:
col='RECEPCION'
data[col]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13021         8/08/2022 6:48
13022    0000-00-00 00:00:00
13023        9/08/2022 13:13
13024    0000-00-00 00:00:00
13025    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [74]:
# Mas de datetime
from dateutil.parser import parse   #parse garantiza el formato siempre, solo se ´puede aplicar parse a un string
fecha = 'may 29 2021'
# pd.to_datetime(fecha)
parse(fecha)

datetime.datetime(2021, 5, 29, 0, 0)

In [88]:
fechas = lambda x:parse(x)

list_fechas = list()
for fecha in data[col]:
    try:
        new_fecha=parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha, errors='coerce')
        #print(e,new_fecha)
    list_fechas.append(new_fecha) # A la lista vacia agregarle la nueva fecha

data['RECEPCION_corr'] = list_fechas
#pd.to_datetime(data[col], errors='ignore')

In [90]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_corr
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88.0,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16.0,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52.0,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,NaN,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33.0,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               6839 non-null   float64
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
 11  RECEPCION_corr                     5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [93]:
# strings

word1 ='BigData'
word2 = ' BigData'

print(word1.strip()) # Cada palabra que encuentre quite espacios en blanco
print(word2.strip())

BigData
BigData

In [100]:
word1.replace(' ','-')  # Quite espacio en blanco y reemplace
word1.upper()           # Minusculas
word1.lower()           # Mayusculas
word1.capitalize()      # Mayuscula primer letra

'Bigdata'

In [106]:
col= 'LOCALIDAD'
data[col]
len(data[col].value_counts())
data[col].unique()


# Python RE Expresiones regulares

array(['Suba', 'Rafael Uribe Uribe', 'Ciudad Bol¡var', 'Usaqu\x82n',
       'La Candelaria', 'Antonio Nari¤o', 'San Crist¢bal', 'Teusaquillo',
       'Kennedy', 'Usme', 'Bosa', 'Tunjuelito', 'Engativ\xa0',
       'Los M\xa0rtires', 'Fontib¢n', 'Chapinero', 'Puente Aranda',
       'Santa Fe', 'Barrios Unidos', 'Sumapaz'], dtype=object)

In [112]:
import re

#txt = 'Los M\xa0rtires'
#txt = 'suba'

def encontrar_patron(patron, txt):
    if re.search(patron,txt): #Busque una parte de expresion d elos martires
        new_text = 'Los Martires'
        return new_text
    else:
        pass

encontrar_patron('Los.*tires','Los M\xa0rtires')

'Los Martires'

In [ ]:
#SCRIPT DE LIMPIEZA EN CSV SIN INCLUIR LOCALIDAD, LIMPIAR DATETIMES, NULOS, DUPLICADOS